@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
html {
  @apply scroll-smooth;
}
body {
  @apply !bg-white;
}
.max-container {
  max-width: 1440px;
  margin: 0 auto;
  @apply max-xl:!mx-5;
}

.nav-link {
  @apply font-quick font-bold text-white bg-cyan-gro/10 rounded-full px-3 cursor-pointer py-1 transition-all hover:scale-[104%];
  text-shadow:
    #e2797d 2px 0px 0px,
    #e2797d 1.75517px 0.958851px 0px,
    #e2797d 1.0806px 1.68294px 0px,
    #e2797d 0.141474px 1.99499px 0px,
    #e2797d -0.832294px 1.81859px 0px,
    #e2797d -1.60229px 1.19694px 0px,
    #e2797d -1.97998px 0.28224px 0px,
    #e2797d -1.87291px -0.701566px 0px,
    #e2797d -1.30729px -1.5136px 0px,
    #e2797d -0.421592px -1.95506px 0px,
    #e2797d 0.567324px -1.91785px 0px,
    #e2797d 1.41734px -1.41108px 0px,
    #e2797d 1.92034px -0.558831px 0px;
}
.btn-nav {
  @apply font-quick font-bold text-white bg-pink-gro outline outline-white rounded-full px-3 cursor-pointer py-2 transition-all hover:scale-[104%];
}
.hero-container {
  height: calc(100vh - 70px);
  @apply max-container grid grid-cols-[1.5fr_1fr] items-center max-md:flex max-md:flex-col-reverse max-md:py-[100px] max-md:h-auto;
}
.hero-title {
  @apply text-yellow-gro max-sm:text-4xl;
  text-shadow:
    #e2797d 2px 0px 0px,
    #e2797d 1.75517px 0.958851px 0px,
    #e2797d 1.0806px 1.68294px 0px,
    #e2797d 0.141474px 1.99499px 0px,
    #e2797d -0.832294px 1.81859px 0px,
    #e2797d -1.60229px 1.19694px 0px,
    #e2797d -1.97998px 0.28224px 0px,
    #e2797d -1.87291px -0.701566px 0px,
    #e2797d -1.30729px -1.5136px 0px,
    #e2797d -0.421592px -1.95506px 0px,
    #e2797d 0.567324px -1.91785px 0px,
    #e2797d 1.41734px -1.41108px 0px,
    #e2797d 1.92034px -0.558831px 0px;
}

.bg-hero {
  @apply bg-cover bg-opacity-5;
}

.collapse-faq {
  @apply border-4 border-sky-blue bg-yellow-gro/60;
}

.collapse-faq .collapse-title {
  @apply font-quick font-extrabold text-xl stroke-pink-gro text-white;
  text-shadow:
    #e2797d 2px 0px 0px,
    #e2797d 1.75517px 0.958851px 0px,
    #e2797d 1.0806px 1.68294px 0px,
    #e2797d 0.141474px 1.99499px 0px,
    #e2797d -0.832294px 1.81859px 0px,
    #e2797d -1.60229px 1.19694px 0px,
    #e2797d -1.97998px 0.28224px 0px,
    #e2797d -1.87291px -0.701566px 0px,
    #e2797d -1.30729px -1.5136px 0px,
    #e2797d -0.421592px -1.95506px 0px,
    #e2797d 0.567324px -1.91785px 0px,
    #e2797d 1.41734px -1.41108px 0px,
    #e2797d 1.92034px -0.558831px 0px;
}

.collapse-faq .collapse-content {
  @apply text-black;
}

.card-kloter {
  @apply border-4 border-sky-blue rounded-md p-3;
}

.card-title {
  @apply font-quick font-extrabold stroke-pink-gro text-white text-2xl;
  text-shadow:
    #e2797d 2px 0px 0px,
    #e2797d 1.75517px 0.958851px 0px,
    #e2797d 1.0806px 1.68294px 0px,
    #e2797d 0.141474px 1.99499px 0px,
    #e2797d -0.832294px 1.81859px 0px,
    #e2797d -1.60229px 1.19694px 0px,
    #e2797d -1.97998px 0.28224px 0px,
    #e2797d -1.87291px -0.701566px 0px,
    #e2797d -1.30729px -1.5136px 0px,
    #e2797d -0.421592px -1.95506px 0px,
    #e2797d 0.567324px -1.91785px 0px,
    #e2797d 1.41734px -1.41108px 0px,
    #e2797d 1.92034px -0.558831px 0px;
}

.btn-card {
  @apply font-quick font-bold text-white bg-pink-gro outline outline-white rounded-full px-3 cursor-pointer py-2 transition-all hover:scale-[104%] text-center;
}

.inp-grv{
  @apply bg-yellow-gro/20 border border-pink-gro
}

.label-grv{
  @apply font-quick font-extrabold stroke-pink-gro text-white text-lg;
  text-shadow:
    #e2797d 2px 0px 0px,
    #e2797d 1.75517px 0.958851px 0px,
    #e2797d 1.0806px 1.68294px 0px,
    #e2797d 0.141474px 1.99499px 0px,
    #e2797d -0.832294px 1.81859px 0px,
    #e2797d -1.60229px 1.19694px 0px,
    #e2797d -1.97998px 0.28224px 0px,
    #e2797d -1.87291px -0.701566px 0px,
    #e2797d -1.30729px -1.5136px 0px,
    #e2797d -0.421592px -1.95506px 0px,
    #e2797d 0.567324px -1.91785px 0px,
    #e2797d 1.41734px -1.41108px 0px,
    #e2797d 1.92034px -0.558831px 0px;
}

.pagination-button{
  @apply bg-pink-gro font-quick font-bold text-white px-3 py-1 hover:scale-[105%] cursor-pointer rounded-full
}